@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css?family=Train+One');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

.material-icons {
  font-family: 'Material Icons' !important;
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

.material-icons.md-light {
  color: var(--panel-stroke);
  background-color: var(--panel-background);
}

.material-icons.small {
  font-size: 2vh;
  padding: 1vh;
  margin: 0.25vh;
}

.nav, .nav:active, .nav:focus {
  margin-right: 3vw;
  font-size: 1.5vh;
  font-family: 'Lato';
  font-weight: 100;
  padding: 0vh;
  outline: none;
  color: var(--panel-stroke);
  background-color: var(--panel-background);
  border-color: var(--panel-background);
}

.nav:hover {
  border-color: var(--panel-background);
  color: hsl(0, 0%, 100%);
}

.material-icons.large:hover {
  border-color: hsl(0, 0%, 50%);
  color: hsl(0, 0%, 50%) !important;
}

.menu {
  position: absolute;
  top: 40%;
  right: 5%;
  margin-right: 6vw;
}

#marker {
  background-color: rgba(0,0,0,0);
  width: 8vw;
  height: 0.35vh;
  position: absolute;
  bottom: 0;
}

:root {
  --panel-background: #001b2e;
  --panel-background-alpha: rgba(0,27,46,0);
  --alt-background: #00356b;
	--panel-stroke: hsl(0, 0%, 90%);
  --font: "Roboto";
  --title-font: "Train One";
  --subtitle-font: "Roboto";
  --border: hsl(0, 0%, 90%);
}

body {
	background-color: var(--panel-background);
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE */
  margin: 0px;
}

body::-webkit-scrollbar { /* WebKit */
    width: 0;
    height: 0;
}

g {
  font-family: var(--font);
  fill: var(--panel-stroke);
  font-size: 1.5vh;
}

p {
  font-family: var(--font);
  font-size: 1.5vh;
  margin: 1vh;
}

.banner {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  /*background-color: rgba(0, 0, 255, 0.25);*/
  background-color: var(--panel-background);
  z-index: 9;
  padding: 0vh;
  /*
  -moz-box-shadow:    inset 0 -5px 5px -5px var(--panel-stroke);
  -webkit-box-shadow: inset 0 -5px 5px -5px var(--panel-stroke);
  box-shadow:    inset 0 -5px 5px -5px var(--panel-stroke);
  */
}

.title, .title:active, .title:focus {
  font-family: var(--title-font);
  font-size: 3vh;
  color: var(--panel-stroke);
  margin-left: 3vh;
  outline: none;
  background-color: var(--panel-background);
  border-color: var(--panel-background);
}

.title:hover {
  border-color: var(--panel-background);
  color: var(--panel-stroke);
}

.subtitle {
  font-family: 'Lato';
  font-weight: 300;
  font-size: 1.5vh;
  color: var(--panel-stroke);
  margin-left: 3vh;
}

.filterPanel {
  background-color: rgba(255, 255, 255, 0.9);
  position: fixed;
  height: 100%;
  width: 45%;
  overflow: auto;
  top: 0;
  left: 55vw;
  z-index: 10;
}

.filterButtonsTop {
  position: fixed;
  top: 0.5vh;
  left: 52vw;
  max-width: 1vw;
}

.fieldPlot {
	float: left;
  margin-top: 9vh;
  /*background-color: rgba(0, 255, 255, 0.25)*/
}

.fieldPanel {
  position: fixed;
  top: 14vh;
  left: 55vw;
  margin-left: 0.5vh;
  margin-bottom: 0.5vh;
  background-color: var(--panel-background);
  /*background-color: rgba(0, 255, 0, 0.25);*/
  /*border-color: var(--border);
	border-width: 1px;
	border-style: solid;*/
}

.infoPanel {
  position: fixed;
  top: 77vh;
  left: 60vw;
  margin-left: 0.5vh;
  background-color: var(--panel-background);
  max-height: 1vh;
  /*background-color: rgba(255, 0, 0, 0.25);*/
  /*border-color: var(--border);
	border-width: 1px;
	border-style: solid;*/
}

.infoKeys {
  float:left;
  max-width: 1vw;
}

.infoVals {
  float: left;
  max-width: 1vw;
}

.selectPanel {
  /*position: fixed;
  top: 77vh;
  left: 84vw;
  max-width: 20vh;*/

  position: fixed;
  bottom: 1vh;
  left: 0vw;
  max-width: 55vw;

  margin-top: 0.5vh;
  margin-left: 3vh;
	background-color: var(--panel-background-alpha);
  /*background-color: rgba(255, 255, 0, 0.25);*/
	/*border-color: var(--border);
	border-width: 1px;
	border-style: solid;*/
  text-align: center; /* for centering buttonStrip */
}

.buttonStrip {
  display: inline-block;
}

.panelBox {
  margin: 0.5vh;
}

button, button:focus, button:active {
  font-family: var(--font);
  font-size: 1.5vh;
  border-color: var(--panel-stroke);
  border-width: thin;
  border-style: solid;
  border-radius: 2vh;
  padding: 1vh;
  margin: 0.25vh;
  outline: none;
}

select, select:focus, select:active {
  font-family: var(--font);
  font-size: 1.5vh;
  border-color: var(--border);
  border-radius: 2vh;
  padding: 1vh;
  margin: 0.25vh;
  outline: none;
}

button:hover {
  border-color: hsl(0, 0%, 50%);
  color: hsl(0, 0%, 50%);
}


/* Other Pages */

.landing {
  background-color: var(--panel-background);
  color: var(--panel-stroke);
  position: fixed;
  top: 50vh;
  right: 50vw;
}

.landingPage {
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(90deg, rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('http://localhost:8888/hero.jpeg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
