@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');
@import url('https://fonts.googleapis.com/css?family=Train+One');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

.material-icons {
  font-family: 'Material Icons' !important;
  font-weight: normal;
  font-style: normal;
  font-size: 4vh;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

.material-icons.md-light {
  color: var(--panel-stroke);
  background-color: var(--panel-background);
}
.material-icons.button {
  position: fixed;
  top: 0;
  right: 0;
  margin: 2vh;
}

:root {
  --panel-background: #001b2e;
  --alt-background: #00356b;
	--panel-stroke: hsl(0, 0%, 90%);
  --font: "Roboto";
  --title-font: "Train One";
  --subtitle-font: "Roboto Slab";
  --border: hsl(0, 0%, 90%);
}

body {
	background-color: var(--panel-background);
}

path, line, text {
	color: var(--panel-stroke);
}

g {
  font-family: var(--font);
  fill: var(--panel-stroke);
  font-size: 1.5vh;
}

p {
  font-family: var(--font);
  font-size: 1.5vh;
  margin: 1vh;
}

.banner {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  /*background-color: rgba(0, 0, 255, 0.25);*/
  background-color: var(--panel-background);
  z-index: 9;
  padding: 2vh;
  /*
  -moz-box-shadow:    inset 0 -5px 5px -5px var(--panel-stroke);
  -webkit-box-shadow: inset 0 -5px 5px -5px var(--panel-stroke);
  box-shadow:    inset 0 -5px 5px -5px var(--panel-stroke);
  */
}

.title {
  font-family: var(--title-font);
  font-size: 3vh;
  color: var(--panel-stroke);
  margin-left: 3vh;
}

.subtitle {
  font-family: var(--subtitle-font);
  font-size: 1.5vh;
  color: var(--panel-stroke);
  margin-left: 3vh;
}

.filterPanel {
  background-color: rgba(255, 255, 255, 0.9);
  position: fixed;
  height: 100%;
  width: 45%;
  overflow: auto;
  top: 0;
  left: 55vw;
  z-index: 10;
}

.fieldPlot {
	float: left;
  margin-top: 9vh;
  /*background-color: rgba(0, 255, 255, 0.25)*/
}

.fieldPanel {
  position: fixed;
  top: 0;
  left: 55vw;
  margin-top: 10vh;
  margin-left: 0.5vh;
  margin-bottom: 0.5vh;
  background-color: var(--panel-background);
  /*background-color: rgba(0, 255, 0, 0.25);*/
  /*border-color: var(--border);
	border-width: 1px;
	border-style: solid;*/
}

.infoPanel {
  position: fixed;
  top: 77vh;
  left: 55vw;
  margin-left: 0.5vh;
  background-color: var(--panel-background);
  /*background-color: rgba(255, 0, 0, 0.25);*/
  /*border-color: var(--border);
	border-width: 1px;
	border-style: solid;*/
}

.selectPanel {
  position: fixed;
  top: 77vh;
  left: 84vw;
  margin-top: 0.5vh;
  margin-left: 0.5vh;
	max-width: 20vh;
	background-color: var(--panel-background);
  /*background-color: rgba(255, 255, 0, 0.25);*/
	/*border-color: var(--border);
	border-width: 1px;
	border-style: solid;*/
  text-align: center; /* for centering buttonStrip */
}

.buttonStrip {
  display: inline-block;
}

.panelBox {
  margin: 0.5vh;
}

button, button:focus, button:active {
  font-family: var(--font);
  font-size: 1.5vh;
  border-color: var(--panel-stroke);
  border-width: thin;
  border-style: solid;
  border-radius: 2vh;
  padding: 1vh;
  margin: 0.25vh;
  outline: none;
}

select, select:focus, select:active {
  font-family: var(--font);
  font-size: 1.5vh;
  border-color: var(--border);
  border-radius: 2vh;
  padding: 1vh;
  margin: 0.25vh;
  outline: none;
}

button:hover {
  border-color: hsl(0, 0%, 50%);
  color: hsl(0, 0%, 50%) !important;
}
