@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css?family=Train+One');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100&display=swap');

.material-icons, .material-icons-outlined {
  font-family: 'Material Icons' !important;
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

.material-icons.md-light, .material-icons-outlined.md-light {
  color: var(--panel-stroke);
  background-color: rgba(34, 34, 34, 0.5);
}

.material-icons.small, .material-icons-outlined.small {
  font-size: 2vh;
  padding: 1vh;
  margin: 0.25vh;
}

.material-icons.mini {
  font-size: 1.75vh;
  padding: 0.5vh;
  margin: 0.125vh;
}

.material-icons.medium {
  font-size: 3vh;
  margin-left: 1vw;
}

.material-icons.large, .material-icons.large:focus, .material-icons.large:active {
  font-size: 10vh;
  color: var(--panel-stroke);
}

.material-icons.large:hover {
  color: #bd5319;
}

.nav, .nav:active, .nav:focus {
  margin-right: 3vw;
  font-size: 1.5vh;
  font-family: 'Lato';
  font-weight: 100;
  padding: 0vh;
  outline: none;
  color: var(--panel-stroke);
  background-color: var(--panel-background-light);
  border-color: var(--panel-background-light);
  transition: text-shadow .3s;
}

.nav:hover {
  border-color: var(--panel-background-light) !important;
  /*color: hsl(0, 0%, 100%);
  text-shadow: 0 0 0.125vh hsl(0, 0%, 90%), 0 0 0.125vh hsl(0, 0%, 90%);*/
}

.menu {
  position: absolute;
  top: 40%;
  right: 5%;
  margin-right: 6vw;
}

#marker {
  background-color: rgba(0,0,0,0);
  width: 5vw;
  height: 0.35vh;
  position: absolute;
  bottom: 0;
}

:root {
  --panel-background: #001b2e;
  --panel-background-light: hsl(205, 100%, 12%);
  --panel-background-alpha: rgba(0,27,46,0);
  --alt-background: #00356b;
	--panel-stroke: hsl(0, 0%, 90%);
  --font: "Roboto";
  --title-font: "Train One";
  --subtitle-font: "Roboto";
  --text-font: "Roboto Slab";
  --border: hsl(0, 0%, 90%);
}

body {
	background-color: var(--panel-background);
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE */
  margin: 0px;
}

body::-webkit-scrollbar { /* WebKit */
    width: 0;
    height: 0;
}

.infoPanel::-webkit-scrollbar { /* WebKit */
    width: 0;
    height: 0;
}

.filterPanel::-webkit-scrollbar { /* WebKit */
    width: 0;
    height: 0;
}

g {
  font-family: var(--font);
  fill: var(--panel-stroke);
  font-size: 1.5vh;
}

p {
  font-family: var(--font);
  font-size: 1.5vh;
  margin: 1vh;
}

html {
  scroll-behavior: smooth;
}

.banner {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--panel-background-light);
  z-index: 9;
  padding: 0vh;

}

.title, .title:active, .title:focus {
  font-family: var(--title-font);
  font-size: 3vh;
  color: var(--panel-stroke);
  margin-left: 3vh;
  outline: none;
  background-color: var(--panel-background-light);
  border-color: var(--panel-background-light);
}

.title:hover {
  border-color: var(--panel-background-light);
  color: var(--panel-stroke);
}

.subtitle {
  font-family: 'Lato';
  font-weight: 300;
  font-size: 1.5vh;
  color: var(--panel-stroke);
  margin-left: 3vh;
}

.filterPanel {
  background-color: var(--panel-background);
  /*background-color: rgba(34, 34, 34, 0.5);*/
  position: fixed;
  height: 100%;
  width: 45vw;
  overflow: auto;
  top: 0;
  left: 55vw;
  z-index: 10;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE */
}

.filterButtonsTop {
  position: fixed;
  top: 0.5vh;
  left: 52vw;
  max-width: 1vw;
}

.fieldPlot {
	float: left;
  margin-top: 9vh;
}

.infoButton {
  position: fixed;
  bottom: 2vh;
  left: 52vw;
  max-width: 1vw;
}

.infoPanel {
  background-color: rgba(34, 34, 34, 1);
  position: fixed;
  height: 100vh;
  width: 45vw;
  overflow: auto;
  top: 0;
  left: 55vw;
  z-index: 9;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE */
}

.infoPanelCollapsed {
  background-color: rgba(34, 34, 34, 0.5);
  position: fixed;
  height: 9vh;
  width: 40vw;
  overflow: auto;
  bottom: 1.5vh;
  left: 55vw;
  z-index: 9;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE */
  border-radius: 2vh;
  border-color: var(--panel-stroke);
  border-width: 0.25vh;
  border-style: solid;
}

.imgBox {
  position: absolute;
  top: 0;
  left: 0;
  height: 48vh;
  width: 45vw;
  text-align: center;
  background-color: rgba(34, 34, 34, 0);
  margin-top: 2vh;
}

.imgBoxCollapsed {
  height: 0;
  width: 0;
}

.imgBox img {
  height: 100%;
}

.infoBox {
  position: absolute;
  top: 50vh;
  left: 0;
  margin-left: 10vw;
  margin-top: 2vh;
}

.infoBoxCollapsed {
  position: absolute;
  top: 0.33vh;
  left: 0;
  margin-left: 10vw;
}

.infoKeys {
  float: left;
  max-width: 1vw;
}

.infoVals {
  float: left;
  max-width: 1vw;;
}

.controlPanels {
  position: fixed;
  bottom: 1vh;
  left: 0vw;
  max-width: 55vw;
  margin-top: 0.5vh;
  margin-left: 3vh;
	background-color: var(--panel-background-alpha);
  text-align: center; /* for centering buttonStrip */
}

.controlPanelSupplemental {
  float: left;
  display: inline-block;
}

.controlPanelMain {
  float: left;
  display: inline-block;
}

.filterButtonStrip {
  display: inline-block;
}

.buttonStrip {
  display: inline-block;
  margin-left: 2vh;
}

.filterCounter {
  display: inline-block;
  position: absolute;
  bottom: 0;
  background-color: magenta;
  border-radius: 1vh;
  color: var(--panel-stroke);
  font-family: var(--font);
  font-size: 1vh;
  padding: 0.33vh;
}

.filterCounterZero {
  display: inline-block;
  position: absolute;
  bottom: 0;
  background-color: rgba(0,0,0,0);
  border-radius: 1vh;
  color: rgba(0,0,0,0);
  font-family: var(--font);
  font-size: 1vh;
  z-index: 1;
}

.panelBox {
  margin-top: 1vh;
  margin-bottom: 1vh;
  margin-left: 1vh;
  margin-right: 1vh;
  border-radius: 1vh;
  background-color: rgba(191,191,191,0.1);
  padding: 1vh;
  display: inline-block;
}

.topButtons {

}

.buttonStripClearSelect {
  display: inline-block;
}

button, button:focus, button:active {
  font-family: var(--font);
  font-size: 1.25vh;
  border-color: var(--panel-stroke);
  border-width: thin;
  border-style: solid;
  border-radius: 2vh;
  padding: 1vh;
  margin: 0.25vh;
  outline: none;
  color: var(--panel-stroke);
  background-color: var(--panel-background);
}

select, select:focus, select:active {
  font-family: var(--font);
  font-size: 1.5vh;
  border-color: var(--border);
  border-radius: 2vh;
  padding: 1vh;
  margin: 0.25vh;
  outline: none;
}

button:hover {
  border-color: hsl(0, 0%, 50%);
  color: hsl(0, 0%, 50%) !important;
}


/* Other Pages */

.landing {
  background-color: var(--panel-background);
  color: var(--panel-stroke);
}

.landingPage {
  min-height: 100vh;
  width: 100vw;
  /*background-image: linear-gradient(90deg, rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url('http://localhost:8888/hero.jpg');*/
  background-image: linear-gradient(90deg, rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url('hero.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.landingBox {
  float: left;
  margin-top: 30vh;
  background-color: rgba(0,0,0,0);
  text-align: center;
}

.landingBlurb {
  font-family: 'Lato';
  font-weight: 200;
  font-size: 5vh;
  color: var(--panel-stroke);
  margin-left: 20vw;
  max-width: 60vw;
  text-align: center;
  float: left;
}

.expandArrow, .expandArrow:focus, .expandArrow:active {
  background-color: rgba(0,0,0,0);
  position: absolute;
  width: 100vw;
  bottom: 5vh;
  color: var(--panel-stroke);
}

#landingScrollPoint {
  position: absolute;
  bottom: 0px;
}

.landingContent {
  font-family: var(--text-font);
  font-size: 2.25vh;
  color: var(--panel-stroke);
  float:left;
  margin-left: 20vw;
  max-width: 60vw;
  margin-top: 50vh;
  margin-bottom: 20vh;
}

.landingSectionTitle {
  font-family: 'Lato';
  font-weight: 200;
  font-size: 5vh;
  color: var(--panel-stroke);
  margin-bottom: 5vh;
  margin-top: 5vh;
  float: left;
}

.landingText {
  float: left;
  margin-bottom: 5vh;
}

.landingEmail {
  color: #63aaff;
}

.landingLink, .landingLink:active, .landingLink:focus {
  color: #63aaff;
  text-decoration: none;
}

.landingLink:hover {
  color: hsl(0, 0%, 50%);
}

.sectionTitle {
  font-family: 'Lato';
  font-weight: 300;
  font-size: 4vh;
  color: var(--panel-stroke);
  margin-left: 16vw;
  margin-top: 16vh;
  float: left;
}

.sectionLine {
  width: 68vw;
  height: 0.125vh;
  background-color: var(--panel-stroke);
  margin-top: 3vh;
  margin-bottom: 3vh;
}

.pubList {
  width: 68vw;
  margin-left: 16vw;
}

.publication {
  font-family: 'Lato';
  font-weight: 200;
  color: var(--panel-stroke);
  float: left;
  margin-top: 1vh;
  margin-bottom: 1vh;
  width: 28vw;
  margin-right: 5vw;
  min-height: 40vh;
}

.pubTitle {
  font-size: 2.5vh;
  margin-top: 1vh;
  margin-bottom: 2vh;
}

.pubAttribution {
  font-size: 2vh;
  margin-top: 1vh;
  margin-bottom: 2vh;
  font-style: italic;
  color: hsl(0, 0%, 65%);
}

.pubBlurb {
  font-size: 2vh;
  margin-top: 1vh;
  margin-bottom: 2vh;
  font-family: var(--text-font);
}

.pubLink, .pubLink:active, .pubLink:focus {
  font-size: 3vh;
  color: #63aaff;
  margin-top: 1vh;
  margin-bottom: 3vh;
  text-decoration: none;
}

.pubEmail {
  color: #63aaff;
}

.collabFrame {
  width: 68vw;
  margin-left: 16vw;
}

.collabBlurb {
  font-family: var(--text-font);
  font-weight: 200;
  color: var(--panel-stroke);
  font-size: 2vh;
  float: left;
  max-width: 42vw;
  margin-top: 1vh;
}
